*.box{
    display: static;
    overflow:visible;
    visibility:visible;
    width:160px;
    height:150px;
    padding:30px;
    border-top:30px solid gray;
    border-bottom:30px solid black;
    border-left:30px solid gray;
    border-right:30px solid black;
    margin-left: 230px;
    margin-top: 80px;
    background-color: gold;
}