*.box {
    float: right;
    overflow: auto;
    visibility: visible;
    width: 220px;
    height: 100px;
    margin: 10px;
    padding: 10px;

    border-top: 5px solid gray;
    border-bottom: 5px solid black;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
    background-color: gold;
}

*.container {
    border: 1px solid gray;
    text-align: center;
}

*.default {
    width: auto;
    height: auto;
    overflow: visible;
    visibility: visible;
    margin: 0;
    padding: 0;
    border: none;
    background-color: gold;
    text-align: left;;
}

*.small {
    width: 75px;
    height: auto;
}
